form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-family: 'Figtree', sans-serif;
    font-weight: 400;
    margin-left: 10rem;
    padding-bottom: 1rem;
}

form h1 {
    margin-bottom: 1rem;
}

textarea {
    resize: none;
    min-height: 100px;
    max-width: 100%;
}

input,
textarea,
select {
    /* margin-bottom: 0.5rem; */
    border: 1px solid black;
    padding: 0.4rem;
    box-shadow: var(--category-box-shadow);
    border-radius: 7px;
}

input,
textarea {
    width: 25rem;
}

select {
    background-color: var(--product-detail-cart-background-color);
    color: var(--product-detail-cart-text-color);
    padding: 1rem 1rem;
    cursor: pointer;
}

form button {
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 500;
    margin-top: 1.5rem;
}

.main-add-product {
    display: flex;
    justify-content: center;
}

form {
    flex: 2;
    /* flex-grow: 2; */
}


.form-image-container {
    flex: 1;
}

.form-image-container>img {
    width: 400px;
    min-height: 400px;
}

p {
    color: var(--error);
    margin-bottom: 10px;
}

@media (max-width: 916px) {
    .main-add-product {
        flex-direction: column;
        align-items: center;
    }

    .form-image-container {
        order: 1;
        height: 60px;
        width: 60px;
    }

    .form-image-container>img {
        width: 50px;
        min-height: 50px;
    }

    form {
        order: 2;
        margin-left: 0;
    }
}