header {
    margin-top: 0rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    /* font-family: 'Fredoka One', cursive; */
    /* color: #B2A4FF; */
    font-family: 'Pacifico', cursive;
    color: var(--header-primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    text-align: left;
    font-size: 5rem;
}

header button {
    margin-top: 1.5rem;
    margin-right: 2rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
}

header button:hover {
    /* background-color: var(--error); */
    color: var(--error);
}

.header-secondary {
    /* color: var(--loader-secondary-color); */
    /* border-bottom: 10px solid var(--loader-secondary-color); */
    /* text-decoration: underline var(--loader-secondary-color) 7px; */
    /* text-decoration: underline #F6E9E9 7px; */
}

@media (max-width: 891px) {
    h1 {
        text-align: center;
    }
}

@media (max-width: 747px) {
    header {
        justify-content: center;
    }
}