main {
    text-align: center;
}

button {
    text-decoration: none;
    background-color: var(--category-background-color);
    border: 1px solid black;
    padding: 1rem 2rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    box-shadow: var(--category-box-shadow);
    text-transform: capitalize;
    font-size: 1.5rem;
}

button:hover {
    background-color: #F6E9E9;
    box-shadow: inset 0 0 0 2em var(--hover);
}