.product-details {
    display: flex;
    margin: 2rem;
    gap: 4rem;
    flex-wrap: wrap;

    /* font-family: 'Merriweather Sans', sans-serif; */
    font-family: 'Figtree', sans-serif;
}

/* main>* {
    flex: 1;
} */

.product-detail-image-container {
    flex: 1 0 17rem;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px; */
}

.product-detail {
    flex: 2 3 15rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.product-detail-title {
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.product-detial-rating {
    font-weight: 700;
    margin-bottom: 2rem;
}

.product-detail-reviews {
    /* text-decoration: underline; */
    border-bottom: 3px solid black;
}

.product-detail-category {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 2rem;
    color: var(--product-detail-category);
    margin-bottom: 1rem;
}

.product-detail-description::first-letter {
    text-transform: uppercase;
}

.product-detail-description {
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.product-detail-purchasing {
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    /* gap: 2rem; */
}

.product-detial-price {
    /* font-family: 'Uncial Antiqua', cursive; */
    font-weight: 400;
    font-size: 3.5rem;
    text-align: center;
    flex: 2 1 50%;
}

.product-detial-price sup {
    font-size: 2rem;
}


.product-detail-cart {
    flex: 3 1 50%;
    padding: 1.4rem 2rem;
    background-color: var(--product-detail-cart-background-color);
    color: var(--product-detail-cart-text-color);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-weight: 500;
    font-size: 1.6rem;
}

.product-detail-cart:hover {
    background-color: var(--product-detail-cart-background-color);
    color: var(--product-detail-cart-text-color);
    border: none;
    border-radius: var(--border-radius);
}

.product-detail-cart i {
    margin-right: 1rem;
}

img {
    width: 100%;
    min-height: 100%;
    object-fit: fill;
    aspect-ratio: 1 / 1;
}

@media (max-width: 800px) {
    main.product-details {
        flex-direction: column;
    }

    .product-detail-image-container {
        /* width: 90%; */
        flex-basis: 90%;
        align-self: center;
    }

}

@media (max-width: 430px) {
    html {
        font-size: 0.8rem;
    }
}