@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader-spinner {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-top: 2rem;
    border: 10px solid var(--loader-primary-color);
    /* Light grey */
    border-top: 10px solid var(--loader-secondary-color);
    /* Black */
    border-radius: 50%;
    animation: loader 1.5s linear infinite;
}