.categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1.5rem;
    /* font-family: 'Merriweather Sans', sans-serif; */
    font-family: 'Figtree', sans-serif;
    font-weight: 400;
}

.categories>button {
    text-decoration: none;
    background-color: var(--category-background-color);
    border: 1px solid black;
    padding: 1rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    box-shadow: var(--category-box-shadow);
    text-transform: capitalize;
}

.categories>button:hover {
    background-color: #F6E9E9;
    box-shadow: inset 0 0 0 2em var(--hover);
}

button.activeCategory {
    background-color: var(--category-selected) !important;
    color: white;
}