:root {
  --backgrond-color: #fff;
  --card-text-color: #272121;
  --card-background-color: #fff;
  --category-selected: #272121;
  --category-background-color: #fff;
  --category-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  --header-primary-color: #272121;
  --loader-primary-color: #363333;
  --loader-secondary-color: #E16428;
  --product-card-box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  --product-detail-cart-background-color: #272121;
  --product-detail-cart-text-color: #fff;
  --product-detail-category: #525252;
  --border-radius: 10px;
  --error: #E16428;
}

html {
  font-size: 1rem;
}

body {
  background-color: var(--backgrond-color);

}

.error {
  color: var(--error);
  font-family: 'Figtree', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}


/* https://colorhunt.co/palette/363333272121e16428f6e9e9 */
/* https://colorhunt.co/palette/525252414141313131ca3e47 */
a:link,
a:visited,
a:hover,
a:active {
  color: black;
  text-decoration: none;
}