.product-card {
    flex: 0 1 20rem;
    margin-bottom: 0rem;
    letter-spacing: 1.5px;
    word-spacing: 2px;
    /* font-family: 'Merriweather Sans', sans-serif; */
    background-color: var(--card-background-color);
    border-radius: 0.7rem;
    text-align: center;
    text-transform: capitalize;
    box-shadow: var(--product-card-box-shadow);
    text-decoration: none;
    font-family: 'Figtree', sans-serif;
}

.product-card-content {}

.product-card-purchase {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}


.product-card-purchase i {
    color: #fdae2f;
}

.product-card h2 {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 1.5em;
}

.product-card h3 {
    font-weight: 400;
    font-size: 1.4rem;
    margin-left: 0.65rem;
    margin-right: 0.65rem;
    font-weight: 700;
}

.product-card p {
    font-weight: 500;
    font-size: 1.5rem;
}

h2,
h3,
p {
    color: var(--card-text-color);
}

.product-card:hover {
    transform: scale(1.02);
}

.image-container {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

img {
    /* border-top-left-radius: 2rem;
    border-top-right-radius: 2rem; */
    width: 100%;
    height: auto;
    object-fit: fill;
    aspect-ratio: 1 / 1;
    margin-bottom: 0.4em;
}